{% extends "core/base.html" %}

{% block title %}Welcome{% endblock title %}
{% block content %}
    <div>
        <h2 class="px-6 pt-6 text-indigo text-lg font-sans">Top Movies</h2>
        <div class="grid grid-cols-5 gap-3 mt-6 mx-6">
            {%for movie in top_movies%}
            <div >
                <a href="{%url 'conversationrooms:rooms' movie.top_movie.id%}">
                    <img class="rounded-t-xl" src="https://image.tmdb.org/t/p/w500/{{movie.top_movie.poster_path}}" alt="">
                    <div class="px-3 py-3 bg-gray-100 justify-items-center space-y-2 rounded-b-xl">
                        <h2>{{movie.top_movie.title}}</h2>
                        <p>{{movie.rooms_count}} rooms</p>
                        <div class="flex justify-between space-x-8">
                            <p class="inline-block">{{movie.interactions.likes}} likes</p>
                            <p class="inline-block">{{movie.interactions.favorites}} favourites</p>
                            <p class="inline-block">{{movie.top_movie.vote_average|floatformat:1}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
{% endblock content %}
